<div class="row">
    <div class="col-12 col-xl-12">
        <div class="card">
            <div class="card-header">
                <button data-bs-toggle="modal" data-bs-target="#AddVehicleMake" class="btn btn-primary">إضافة نوع المركبة</button>
                <h3 class="float-end">صنع المركبات</h3>
            </div>
            <div class="table-responsive" dir="rtl">
                <table class="table table-bordered align-middle table-nowrap table-hover">
                    <thead>
                        <tr>
                            <th>اسم صنع المركبة</th>
                            <th>Vehicle Make Name</th>
                            <th>فعل</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="c in VehicleMakesList">
                            <td>{{c.vehicleMakeNameAr}}</td>
                            <td>{{c.vehicleMakeName}}</td>
                            <td class="table-action">
                                <button type="button" data-bs-toggle="modal" data-bs-target="#UpdateVehicleMake" ng-click="EditVehicleMake(c)" class="btn btn-primary my-2"><i class="fa fa-edit"></i></button>
                                <button type="button" ng-click="DeleteVehicleMake(c.vehicleMakeId)" class="btn btn-primary"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div class="modal fade" id="AddVehicleMake" tabindex="-1" VehicleMake="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" VehicleMake="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">إضافة نوع المركبة</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="col-md-12" dir="rtl">
                    <form name="VehicleMakeForm" novalidate autocomplete="off">
                        <div class="card">
                            <div class="card-body">
                                <div class="row row-cols-md-auto align-items-center">
                                    <div class="col-12">
                                        <label class="sr-only" for="inlineFormInputName2">اسم صنع المركبة</label>
                                        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" name="VehicleMakeNameAr" required ng-model="VehicleMake.VehicleMakeNameAr" placeholder="أدخل اسم المركبة">
                                        <span class="err-msg" ng-show="submitted==true && VehicleMakeForm.VehicleMakeNameAr.$error.required">الرجاء إدخال اسم المركبة</span>
                                    </div>
                                    <div class="col-12">
                                        <label class="sr-only" for="inlineFormInputName2">VehicleMake Name</label>
                                        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" name="VehicleMakeName" required ng-model="VehicleMake.VehicleMakeName" placeholder="Enter a Vehicle Make Name">
                                        <span class="err-msg" ng-show="submitted==true && VehicleMakeForm.VehicleMakeName.$error.required">Please enter VehicleMake Name</span>
                                    </div>
                                    <div class="col-12">
                                        <button type="button" class="btn btn-primary mb-2" ng-click="submitted=true;AddVehicleMake(VehicleMake,VehicleMakeForm.$valid)">يُقدِّم</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="UpdateVehicleMake" tabindex="-1" VehicleMake="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" VehicleMake="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">تحديث جعل السيارة</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="col-md-12" dir="rtl">
                    <form name="UpdateForm" novalidate autocomplete="off">
                        <div class="card">
                            <div class="card-body">
                                <div class="row row-cols-md-auto align-items-center">
                                    <div class="col-12">
                                        <label class="sr-only" for="inlineFormInputName2">اسم صنع المركبة</label>
                                        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" name="VehicleMakeNameAr" required ng-model="VehicleMakeDetails.vehicleMakeNameAr" placeholder="أدخل اسم المركبة">
                                        <span class="err-msg" ng-show="submitted==true && UpdateForm.VehicleMakeNameAr.$error.required">الرجاء إدخال اسم المركبة</span>
                                    </div>
                                    <div class="col-12">
                                        <label class="sr-only" for="inlineFormInputName2">VehicleMake Name</label>
                                        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" name="VehicleMakeName" required ng-model="VehicleMakeDetails.vehicleMakeName" placeholder="Enter a Vehicle Make Name">
                                        <span class="err-msg" ng-show="submitted==true && UpdateForm.VehicleMakeName.$error.required">Please enter VehicleMake Name</span>
                                    </div>
                                    <div class="col-12">
                                        <button type="button" class="btn btn-primary mb-2" ng-click="submitted=true;UpdateVehicleMake(VehicleMakeDetails,UpdateForm.$valid)">يُقدِّم</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>